*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 65px;
    margin-bottom: 80px;
   
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.row, .row::after, .row::after{
    display: table;
    clear: both;
    width: 100%;
}

.logo{
    text-align: center;
    margin-top: 10px;
}

.col2{
    width: 4%;
    float: left;
}
.col3{
    width: 25%;
    float: left;
    padding: 0 10px;
}


.col5{
	width: 45.83%;
	float: left;
	padding: 0 10px;
}

.col6{
    width: 50%;
    float: left;
    padding: 0 10px;
}

.col9{
    width: 75%;
    float: left;
    padding: 0 10px;
}


.col10{
    width: calc( 100%*10/12 );
    float: left;
    padding: 0 10px;
}

.col12{
    width: 100%;
    float: left;
    padding: 0 10px;
}


.heroImage{
    margin-bottom: 80px;
}

.navbar li{
    display: inline-block;
    padding: 15px 0;
}

.navbar ul{
    list-style: none;
}

.navbar ul li a:link, .navbar ul li a:visited{
    text-decoration: none;
    margin-left: 117px;
    text-transform: uppercase;
    color: #626262;
    display: block;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/* !!!!!!!!!!!!!!!!!!! section-information */


.info-section{
    margin-bottom: 130px;
}
.primary-heading{
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 10px;
}

.secondary-heading{
    font-size: 30px;
    color: #626262;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 30px;
}

.para{
    font-size: 14px;
    color: #626262;
    padding-left: 10px;
    margin-bottom: 40px;
}

body{
    line-height: 1.5;
}

.heading-tertiary{
    color: #b4ad9e;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-110{
    margin-bottom: 110px;
}


.img2{
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 25px;
}


.section-signUp{
    background-color: #f0f0f0;
    margin-bottom: 60px;
}
.input{
    width: 30%;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #626262;
    margin-bottom: 50px;
    background: transparent;
}

.fas{
    margin-left: -20px;
}

.inputTitle{
    color: #333333;
    margin-bottom: 65px;
    margin-top: 60px;
}

.lifeStyle{
    margin-bottom: 50px;
}

.load-more{
    font-size: 20px;
    padding: 15px 25px;
    border: 2px solid #626262;
    margin-top: 50px;
    display: inline-block;
}

.navigation{
    background-color: #f0f0f0;
}

ul{
    list-style: none;
    
}

.list li{
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;

}

li a i{
    font-size: 15px;
    padding: 10px 5px;
    color: #333333;
}

.footer{
    height: 90px;
}

.lp-2{
    padding-left: 15px;
}